.TicketTimes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Ticket__departure-time,
.Ticket__arrival-time {
    font-size: 32px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 26px;
}
