.Filter {
    font-size: 13px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
}

.Filter input {
    display: none;
}

.Filter:hover {
    background-color: #f1fcff;
}

.Filter:hover .Filter__button {
    display: inline-flex;
}

.Filter input:checked + .Filter__description::before {
    background: url(Filter.svg) #f2fcff no-repeat center;
    border-color: #3e9ce8;
}

.Filter__description {
    display: flex;
    align-items: center;
}

.Filter__description::before {
    content: '';
    display: inline-block;
    margin: 0 10px 0 15px;
    width: 19px;
    height: 19px;
    background: #fff;
    border: 1px solid #d2d5d6;
    border-radius: 3px;
}

.Filter__button {
    display: none;
    font-weight: 600;
    font-size: 11px;
    color: #3E9CE8;
    letter-spacing: 0.5px;
    line-height: 35px;
    border: none;
    background: none;
    padding: 0;
    margin-right: 15px;
    cursor: pointer;
}
