.App {
    width: 817px;
    margin: 0 auto;
}

.App__logo {
    margin: auto;
}

.App__header {
    display: flex;
    align-items: flex-start;
    height: 164px;
}

.App__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
