.App {
    width: 824px;
    margin: 0 auto;

    /* display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 232px 1fr;
    grid-template-rows: 164px 1fr;
    grid-template-areas:
        'header header'
        'filter tickets'; */
}

.App__logo {
    margin: auto;
}

.App__header {
    display: flex;
    height: 164px;
}

.App__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
