.Ticket {
    display: flex;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(91,137,164,0.25);
    border-radius: 5px;
}

.Ticket:hover {
    box-shadow: 0 5px 25px 0 rgba(91,137,164,0.10);
}

.Ticket__left {
    width: 201px;
    box-sizing: border-box;
    padding: 25px 20px;
    border-right: 1px solid #ECEFF1;

    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Ticket__right {
    width: 100%;
    padding: 25px;
}

.Ticket__button {
    background: #FF6D00;
    box-shadow: 0 1px 0 0 #D64D08, 0 2px 1px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    width: 100%;
    height: 56px;

    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    border: none;
    cursor: pointer;
}

.Ticket__button:hover {
    background: #FF8124;
    box-shadow: 0 1px 0 0 #F7661D, 0 1px 5px 0 rgba(0,0,0,0.25);
}

.Ticket__times {
    display: flex;
    justify-content: space-between;
}

.Ticket__times span[class$="time"] {
    font-size: 32px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 26px;
}

.Ticket__stops {
    font-weight: 600;
    font-size: 10px;
    color: #8B9497;
    line-height: 12.1px;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Ticket__carrier {
    max-width: 100%;
    max-height: 36px;
}

.Ticket__plane {
    width: 110px;
    height: 14px;
    background: url(../Logo/Plane.svg) no-repeat 100% 50%;
    position: relative;
}

.Ticket__plane::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 96px;
    height: 1px;
    display: inline-block;
    background: #D2D5D6;
}
